@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow: auto!important;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #120B2E;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #60072C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8b0e42;
}